<% provide(:title, "メモ詳細") %>
<div class="main">
  <div class="container">
    <h1>メモ詳細</h1>
      <div class="content-framework">
        <div class="content-title">
          <%= @description.memoTitle %>
        </div>
        <div class="importance">
          重要度：
          <ul>
            <% @description.importance.times do %>
              <li><i class="fas fa-star"></i></li>
            <% end %>
            <% (5-@description.importance).times do %>
              <li><i class="far fa-star"></i></li>
            <% end %>
          </ul>
        </div>
        <div class="content">
          <p><%= @description.content %></p>
        </div>
        <div class="created-datetime">
          メモ日時：<%= @description.created_at.strftime("%Y年%m月%d日　%H時%M分") %>
        </div>
      </div>
      <div class="details-menu">
        <ul>
          <li class="btn"><i class="fas fa-edit"></i> <%= link_to("編集", "/description/#{@description.id}/edit") %></li>
          <li class="btn"><i class="fas fa-trash-alt"></i> <%= link_to("削除", "/description/#{@description.id}/delete", {method: "post"}) %></li>
        </ul>
      </div>
  </div>
</div>