<% provide(:title, "新しくメモる") %>
<div class="main">
  <div class="container">
    <h1>新しくメモる</h1>
    <div class="form">
      <% @description.errors.full_messages.each do |message| %>
        <div class="error-message">
          <%= message %>
        </div>
      <% end %>
      <%= form_tag "/description/create" do %>
        タイトル：<input class="memoTitle" type="text" name="memoTitle" value="<%= @description.memoTitle %>"><br>
        重要度：
        <% @importanceValues.each do |importanceValue| %>
          <% if importanceValue == @description.importance %>
            <input type="radio" name="importance" value="<%= importanceValue %>" checked><%= importanceValue %>
          <% else %>
            <input type="radio" name="importance" value="<%= importanceValue %>"><%= importanceValue %>
          <% end %>
        <% end %>
        <textarea name="content"><%= @description.content %></textarea>
        <input type="submit" value="メモる">
      <% end %>
    </div>
  </div>
</div>