<div class="main">
  <div class="container">
    <h1>メモ一覧</h1>
    <%= form_tag("/descriptions/allDelete") do %>
      <%= submit_tag "一括削除", data: {confirm: "選択したメモを一括削除してもよろしいですか？"}, class: "btn" %>
      <% @descriptions.each do |description| %>
        <div class="content-framework">
          <div class="content-title">
            <%= check_box "allDeleteDescriptions", "#{description.id}", class: "all-delete-function" %>
            <%= description.memoTitle %>
            <div class="btn details-btn">
              <i class="far fa-file-alt"></i> <%= link_to "詳細へ", description %>
            </div>
          </div>
          <p class="content"><%= description.content %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>